*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    max-width: 992px;
    margin: auto;
    display: flex;
}

header{
    background-color: #122a57;
}