*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    max-width: 992px;
    width: 100%;
    margin: auto;
    display: flex;
}

.header-container{
    justify-content: space-between;
}

header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
}

.header-container .logo{
    color: white;
}

nav.menu{
    max-width: 260px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu .list-items{
    list-style: none;
    justify-content: space-between;
}

.list-items li a{
    text-decoration: none;
    color: white;
}

.presentation{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.text-presentation h1{
    color: #122a57;
    font-size: 3rem;
    margin-bottom: 10px;
}

.text-presentation a{
    display: block;
    width: 220px;
    height: 50px;
    background-color: #122a57;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    margin-top: 10px;
}

.about{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between
}

.about h2{
    font-size: 2rem;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

.about h2::before{
    content: "";
    width: 5px;
    height: 50px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

.about p{
    margin-bottom: 10px;
    width: 90%;
}

.about img{
    min-width: 420px;
}

.external-container{
    background-color: #122a57;
    width: 100%;
}

.services{
    flex-direction: column;
    padding: 50px 0 100px 0;
}
.services h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-services{
    justify-content: space-around;
}

.list-services .item-service{
    text-align: center;
}

.item-service a{
    width: 220px;
    height: 50px;
    background-color: white;
    color: #122a57;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: 700;
}

.item-service p{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    margin-top: 20px;
}

.item-service img{
    max-width: 160px;
    max-height: 160px;
    margin: auto;
}